* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.addContact-container {
    position: fixed;
    top: 0;
 width: 100%;
    right: -30rem;
    bottom: 0;
    background-color: white;
    z-index: 100000;
    transition: .5s ease-in-out;
    left: 30rem;
    
  }
  
  .addContact-container.open {
  left: 0;
right: 0;
}


.image-upload {
    position: relative;
    display: block;
  }
  
  .image-upload input[type="file"] {
    display: none;
  }
  
  .image-upload label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid #04173a;
    cursor: pointer;
    border-radius: 50%;
  
  }
  
  .image-upload label img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .image-upload label span {
    font-size: 16px;
    color: #0c021b;
  }
  
  .image-upload label:hover {
    border-color: #999;
  }

  .contactList {
    margin-top: 10rem;
    padding: 0 .5rem;
  }
  

  .contact {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    /* margin-bottom: 10px; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: rgb(223, 230, 238); */
    border-bottom: 1px solid rgb(3, 5, 36);
  }
  
  .contact img {
  border: 2px solid rgb(14, 13, 54);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.contact span {
  display: block;
}

.date {
  color: red;
  /* display: block; */
  /* width: 65%; */
}
.conName {
  display: flex;
}
.conName .editBtn {
  margin-left: .9rem;
  color: #0bb822;
  font-weight: 900;
  cursor: pointer;
}
.conName .deleteBtn {
  margin-left: 2rem;
  color: #db2008;
  cursor: pointer;
}

.viewContactModal {
  
    position: fixed;
    top: 0;
 width: 100%;
    right: -30rem;
    bottom: 0;
    background-color: rgb(92, 128, 151);
    background: url(../Premium\ Vector\ _\ Abstack\ background\ cartoon\ style_\ bigbamm\ or\ sunlight.jpg);
    z-index: 100000;
    transition: .5s ease-in-out;
    left: 30rem;
    
  }
  
  .viewContactModal.active {
  left: 0;
right: 0;
} 


.detailImage img {
  width: 250px;
  height: 250px;
  /* border-radius: 50%; */
  border-radius: 50%;

}

/* .detailImage img {
  width: 100%;
  height: auto;
} */

.details {
  background-color: rgb(227, 233, 235);
  margin-top: -3rem;
  min-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  
}

